name: "Static Analysis"

on:
  push:
    branches:
      - "main"

  pull_request:

permissions:
  contents: read
  pull-requests: write

defaults:
  run:
    shell: bash

jobs:
  plan:
    name: "Format & Validate"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Validate
        run: terraform validate
